swagger: "2.0"
host: "smartmetertexas.com"
basePath: "/api"
info:
  description: "Smart Meter Texas Documentation for Unofficial API"
  version: "1.0.0"
  title: "Smart Meter Texas"

tags:
- name: "user"
  description: "Operations about user account"
- name: "On-Demand Read"
  description: "Read the current value on the meter"
schemes:
- "https"
paths:
  /user/authenticate:
    post:
      tags:
      - "user"
      summary: "Authenticate user"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User Credentials"
        required: true
        schema:
          $ref: "#/definitions/UserCredentials"
      responses:
        200:
          description: "Login Response"
          schema:
            $ref: "#/definitions/UserLoginResponse"
        400:
          description: "Error Message"
          schema:
            properties:
              errormessage:
                type: "string"
                enum: ["ERR-USR-USERNOTFOUND", "ERR-USR-INVALIDPASSWORDERROR"]
  /user/getuser:
    post:
      security:
        - Bearer: []
      tags:
      - "user"
      summary: "Get profile information about user"
      produces:
      - "application/json"
      responses:
        200:
          description: "Login Response"
          schema:
            $ref: "#/definitions/UserInfo"
  /ondemandread:
    post:
      security:
        - Bearer: []
      tags:
      - "On-Demand Read"
      summary: "Submit request to the meter"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Meter info"
        required: true
        schema:
          $ref: "#/definitions/Meter_ESIID"      
      responses:
        200:
          description: "Request successful"
          schema:
            $ref: "#/definitions/OnDemandRead"
  /usage/latestodrread:
    post:
      security:
        - Bearer: []
      tags:
      - "On-Demand Read"
      summary: "Check status of last on demand read"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "ESIID"
        required: true
        schema:
          $ref: "#/definitions/ESIID"
      responses:
        200:
          description: "Query response"
          schema:
            $ref: "#/definitions/OdrResults"
  /meter:
    post:
      security:
        - Bearer: []
      tags:
      - "user"
      summary: "get data on meters on account"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "ESIID seems to be set to * for this end point"
        required: true
        schema:
          $ref: "#/definitions/ESIID"
      responses:
        200:
          description: "Meter data"
          schema:
            $ref: "#/definitions/Meter"
  /reportrequeststatus:
    post:
      security:
        - Bearer: []
      tags:
      - "Reports"
      summary: "Get report status"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Subscription type"
        required: true
        schema:
          $ref: "#/definitions/ServiceType"
      responses:
        200:
          description: "subscription info"
          schema:
            $ref: "#/definitions/ReportRequestStatus"
  /subhistory:
    post:
      security:
        - Bearer: []
      tags:
      - "Reports"
      summary: "Get report history status"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Subscription ID"
        required: true
        schema:
          $ref: "#/definitions/SubId"
      responses:
        200:
          description: "report info"
          schema:
            $ref: "#/definitions/SubHistory"
  
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  UserInfo:
    type: "object"
    properties:
      data: 
        type: "object"
        properties:
          usr_id:
            type: "string"
          is_rgstrd:
            type: "boolean"
          usr_type:
            type: "string"
          admin_ind:
            type: "string"
          co:
            type: "string"
          agreementaccess:
            type: "boolean"
          subscriptionaccess:
            type: "boolean"
  UserCredentials:
    type: "object"
    properties:
      username:
        type: "string"
      password:
        type: "string"
      rememberMe:
        type: "boolean"
  UserLoginResponse:
    type: "object"
    properties:
      usr_id:
        type: "string"
      is_rgstrd:
        type: "boolean"
      usr_type:
        type: "string"
      usr_frst_nm:
        type: "string"
      usr_lst_nm:
        type: "string"
      usr_eml:
        type: "string"
      lang_pref:
        type: "string"
      ai:
        type: "boolean"
      smtStatus:
        type: "string"
      smtStatuskey:
        type: "string"
      token:
        type: "string"
  OnDemandRead:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          trans_id: 
            type: "string"
          correlationId: 
            type: "string"
          statusCode: 
            type: "string"
          statusReason:
            type: "string"
  Meter_ESIID:
    type: "object"
    properties:
      ESIID: 
        type: "string"
      MeterNumer:
        type: "string"
  ESIID:
    type: "object"
    properties:
      ESIID:
        type: "string"
  OdrResults:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          odrstatus:
            type: "string"
            enum: ["PENDING", "COMPLETED"]
          odrread: 
            type: "string"
          odrusage:
            type: "string"
          odrdate:
            type: "string"
          responseMessage:
            type: "string"
  Meter:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          type: "object"
          properties:
            customer:
              type: "string"
              example: "X"
            email:
              type: "string"
              example: "Y"
            description:
              type: "string"
            address:
              type: "string"
            city:
              type: "string"
            state:
              type: "string"
            zip:
              type: "string"
            esiid:
              type: "string"
            meterNumber:
              type: "string"
            meterMultiplier:
              type: integer
              example: 1
            fullAddress:
              type: "string"
            errmsg:
              type: "string"
            recordStatus:
              type: "string"
            statusIndicator:
              type: "boolean"
            dunsNumber:
              type: "string"
  ServiceType:
    type: "object"
    properties:
      serviceType:
        type: "string"
        enum: ["ADHOC", "SUBSCRIPTION"]
  ReportRequestStatus:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          StatusReportResponse:
            type: "object"
            properties:
              trans_id: 
                type: "string"
              SubscriptionStatusResponse:
                type: "array"
                items:
                  type: "object"
                  properties:
                    subscriptionId: 
                      type: "string"
                    reportType: 
                      type: "string"
                    subscriptionFrequency:
                      type: "string"
                    subscriptionType:
                      type: "string"
                    status:
                      type: "string"
                    lastReportGenerationDate:
                      type: "string"
                    startDate:
                      type: "string"
  SubId:
    type: "object"
    properties:
      sub_id:
        type: "string"
  SubHistory:
    type: "array"
    items:
      type: "object"
      properties:
        sub_id:
          type: "string"
        read_dt:
          type: "string"
        rpt_gen_dt:
          type: "string"
        status:
          type: "string"
        error:
          type: "string"
        error_msg:
          type: "string"
